!config template for 1000v with serial {{ device_data.ztp_sn}}

int {{ device_data.ztp_interface}}
no shut
ip add {{ device_data.ztp_ip}} {{ device_data.ztp_mask}}

ip route 0.0.0.0 0.0.0.0 {{ device_data.ztp_gw}}

hostname router

ip domain name lab.local

crypto key generate rsa mod 2048

aaa new-model
aaa authentication login default local
aaa authentication enable default none

username admin secret cisco

line vty 0 15
privilege level 15
